.list-group-item{
    cursor:pointer;
    border:none;
    padding: 10px,20px;
    font-size: 1.1em;

    &.active{
        border-radius: 10px;
    }
    &:not(.active){
        // color: #fff;
        // // background-color: rgba(165, 125, 73, 0.8);
         border-radius: 10px;
    }
}