.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    top: -12px;
    right: 32px;
    text-align: center;
    color: white;
    border-radius: 50%;
    background: blue;
    color: white;
    text-align: center;
}