<div class="form-floating mb-3">
    <input [formControl]="control"
        [ngClass]="(control.touched)? control.invalid ?'is-invalid':'is-valid':null"
        type={{type}}
        class="form-control"
        placeholder="{{label}}">
    <label for="floatingInput">{{label}}</label>
    <div *ngIf="control.errors?.['required']"
        class="invalid-feedback">
        {{label}} is required
    </div>
    <div *ngIf="control.errors?.['email']"
        class="invalid-feedback">
        Please choose a correct email ID
    </div>
    <div *ngIf="control.errors?.['pattern']"
    class="invalid-feedback">
    Please choose a complex password with 
    <ul><li> 8-16 characters</li><li>1 Upper case</li><li>1 Lower case</li><li>1 digit</li><li>1 special charachter</li></ul>
</div>
</div>
